.media-icon {
  height: 60px;
  width: 60px;
}

.media-div {
  right: 15px;
  padding-bottom: 10px;
  position: fixed;
  bottom: 0;
  z-index: 3;
}

.adventure-title {
  padding-top: 10px;
}

h1 {
  padding-top: 10px;
}
