.index-icons {
    padding-top: 5px;
    width: 20vh;
}

.home-icon-container {
    width: 100vw;
    display: flex;
    justify-content: center
}

div {
    display: inline-block;
}

.icons {
    padding: 20px 100px;
}

.icon-header {
    font-family: 'Roboto', sans-serif;
}

.home-header {
    font-family: 'Roboto',sans-serif;
    font-size: 50px;
}

.paragraph-div {
    padding: 0 20% 0 20%;
}

@media screen and (max-width: 400px) {
    .paragraph-div {
        padding: 0 5% 0 5%;
    }
}

.home-head-photo {
    display: inline-block;
    width: 22vw;
}
p {
    text-align: left;
    padding: 30px 15px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

ul {
    text-align: left;
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-left: 10px;
}

h2, h4 {
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
}

.ul-tag {
    padding-top: 20px;
    padding-left: 10px;
}

#home-sub-header {
    padding-top: 5px;
    padding-bottom: 0px;
    text-align: center;
}

.secondary-paragraph {
    padding-top: 10px;
}

hr {
    margin: 50px;
}

.adventure-div {
    padding-top: 40px;
}

.bottom-paragraph {
    padding-bottom: 50px;
}

.donate {
    display: inline-block;
    padding-bottom: 100px;
}

.uaee {
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

.uaee:hover {
    cursor: pointer;
}

.green-div {
    width: 100%;
    background-color: #2B7A78;
    padding: 20px;
}

.white-text {
    color: white;
    font-family: 'Roboto', sans-serif;
}
